<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hbi.demo.mapper.DemoBankBranchMapper">
    <resultMap id="BaseResultMap" type="hbi.demo.dto.DemoBankBranch">
        <result column="BANK_BRANCH_ID" property="bankBranchId" jdbcType="DECIMAL" />
        <result column="BANK_ID" property="bankId" jdbcType="DECIMAL" />
        <result column="BRANCH_NAME" property="branchName" jdbcType="VARCHAR" />
        <result column="BRANCH_TYPE" property="branchType" jdbcType="VARCHAR" />
        <result column="BRANCH_NO" property="branchNo" jdbcType="VARCHAR" />
        <result column="SWIFT_CODE" property="swiftCode" jdbcType="VARCHAR" />
        <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="EXPIRATION_DATE" property="expirationDate" jdbcType="DATE" />
        <result column="COMMENTS" property="comments" jdbcType="VARCHAR" />
    </resultMap>


</mapper>